{% extends "base.html" %}

{% block content %}
<div>
  <h2>Guidelines for the Topic URL</h2> 
<div class="slinks">
<br>
	<h4>1<h4>
	<h4>Remove the https://www.geeksforgeeks.org/ part from the actual url</h4>
<h4>For eg.<br>
Actual url >>  https://www.geeksforgeeks.org/fundamentals-of-algorithms/</h4>
<h4>
	Topic URL >> fundamentals-of-algorithms/</h4>
<h4>2</h4>
	<h4>Always choose pages with a lot of content links</h4>
<h4>3</h4>
<h4>Choose urls starting with https://www.geeksforgeeks.org/ and no other</h4>
<h4>4</h4>
<h4>Make sure that the links in the page refer to articles and not another set of links</h4>
	</div>
{% endblock %}