{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
<!--  <div class="links">
        <a href="{{ url_for('login.loginp') }}">Login</a>
    </div> -->
<div>
	<br><br>
<div class="slinks">
<a href="{{ url_for('add.addp') }}"><h3> 
		>>>Request URLs</h3></a>
	</div><br>
<div class="slinks">
<a href="{{url_for('view.viewp') }}"><h3> 
		>>>Requested URLs</h3></a>
	</div><br>
<div class="slinks">
<a href="{{ url_for('viewlinks.viewlinksp') }}"><h3> 
		>>>Current Scheduled Links</h3></a>
	</div>
</div>
{% endblock %}