{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
<!--  <div class="links">
        <a href="{{ url_for('login.loginp') }}">Login</a>
    </div> -->
<div>
	<br><br>
<div class="slinks"><h3> 
<a class="spl" href="{{ url_for('add.addp') }}">
		>>>Request URLs</a></h3>
	</div><br>
<div class="slinks"><h3>
<a class="spl" href="{{url_for('view.viewp') }}">
		>>>Requested URLs</a></h3>
	</div><br>
<div class="slinks"><h3>
<a class="spl" href="{{ url_for('viewlinks.viewlinksp') }}">
		>>>Current Scheduled Links</a></h3>
	</div>
</div>
{% endblock %}