{% extends "base.html" %}
{% block content %} 
<!--  <div class="links">
        <a href="{{ url_for('logout.logoutp') }}">Logout</a>
    </div> -->
<div>   
<h2>Hi , Welcome {{session.username}}</h2> 
<div class="slinks"> 
<a class="spl" href="{{ url_for('subscribe.subscribep') }}">
<h3> >>>Add Coders</a></h3><br>  
</div>
<div class="slinks"><h3>
<a class="spl" href ="{{ url_for('automation.automationp') }}">
 >>>Automate</a></h3><br>
</div>
<div class="slinks"><h3>
<a class="spl" href ="{{ url_for('viewcoders.viewCodersp') }}">
>>>List Current Coders</a></h3><br>
</div>
<div class="slinks"><h3>
<a class="spl" href ="/mailall">
 >>>Mail the Coders</a></h3>
</div>
{% endblock %}  