{% extends "base.html" %}
{% block content %} 
<!--  <div class="links">
        <a href="{{ url_for('logout.logoutp') }}">Logout</a>
    </div> -->
<div>   
<h2>Hi, Welcome {{session.username}}</h2> 
<div class="slinks"> 
<a href="{{ url_for('subscribe.subscribep') }}">
<h3> >>>Add Coders</a></h3><br>  
</div>
<div class="slinks">
<a href ="{{ url_for('automation.automationp') }}">
<h3> >>>Automate</h3></a><br>
</div>
<div class="slinks">
<a href ="{{ url_for('viewcoders.viewCodersp') }}">
<h3> >>>List Current Coders</h3></a><br>
</div>
<div class="slinks">
<a href ="/mailall">
<h3> >>>Mail the Coders</h3></a>
</div>
{% endblock %}  